.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.card .cart-empty {
    background-color: #82ae46;
}
.card .cart-empty h3,h4,h5 {
    color: #fff;
}

.badge-primary {
    background-color: #82ae46;
}
